<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>SureDO</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><span class="mb-0 h4">SureDo :: Be On Top Of Your Tasks</span></a>
    </nav>
    <div class="mx-auto" style="width: 1110px; text-align: left;">
        <br>
      </div>
  
    {% block body %}

    {% endblock%}

</body>
</html>